@model IList<TicketingSystem.Web.ViewModels.Home.TicketViewModel>

@{ var tickets = Model.Count / 3 == 0 ? Model.Count : Model.Count / 3; }
@for (int i = 0; i < tickets; i++)
{
    <div class="row">
        @for (int j = 0; j < 3; j++)
        {
            var currentTicket = 3 * i + j;
            if (currentTicket == Model.Count)
            {
                break;
            }
            <div class="col-md-4">
                <h2 style="word-wrap: break-word">@Model[currentTicket].TicketTitle</h2>
                <div>
                    <strong>Category: </strong> @Model[currentTicket].CategoryName
                </div>
                <div>
                    <strong>Author: </strong> @Model[currentTicket].AuthorUserName
                </div>
                <div>
                    @Model[currentTicket].NumberOfComments Comment(s)
                </div>
                <a href="/Tickets/Details/@Model[currentTicket].Id" class="btn btn-default">More Details...</a>
            </div>
        }
    </div>
}
